<!DOCTYPE html>
<html>
<head>
	<title>Shop@KUGO</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="grid-container">
		<header class="header">
			<div class="brand">
				<a href="index.html">BuzzKart</a>
			</div>
			<div class="header-links">
				<a href="cart.html">Cart</a>
				<a href="signin.html">Sign In</a>
				
			</div>

		</header>
		<aside>
			Shopping Categories
		</aside>
		<main class="main">
			<div class="content">
				<ul class="products">
					<li>
						<div class="product">
							<img class="product-image" src="images/d1.jpg" alt="product">
							<div class="product-name">
								<a href="product.html">Slim Shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">4.5 star</div>
						</div>
					</li>
					<li>
						<div class="product">
							<img class="product-image" src="images/d1.jpg" alt="product">
							<div class="product-name">
								<a href="product.html">Slim Shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">4.5 star</div>
						</div>
					</li>
					<li>
						<div class="product">
							<img class="product-image" src="images/d1.jpg" alt="product">
							<div class="product-name">
								<a href="product.html">Slim Shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">4.5 star</div>
						</div>
					</li>
					<li>
						<div class="product">
							<img class="product-image" src="images/d1.jpg" alt="product">
							<div class="product-name">
								<a href="product.html">Slim Shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">4.5 star</div>
						</div>
					</li>
					<li>
						<div class="product">
							<img class="product-image" src="images/d1.jpg" alt="product">
							<div class="product-name">
								<a href="product.html">Slim Shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">4.5 star</div>
						</div>
					</li>
				</ul>
			</div>
			<ul>
				<li>Product 1</li>
				<li>Product 2</li>
				<li>Product 3</li>
				<li>Product 4</li>
				<li>Product 5</li>
			</ul>
		</main>
		<footer class="footer">All Rights Reserved.</footer>
	</div>

</body>
</html>